{% extends 'base-admin.html.twig' %}

{% block title %}Liste des paniers{% endblock %}

{% block body %}
<div class="container">
    <h1>Liste des paniers</h1>
    
    <div class="row">
        <div class="col">
            {{ knp_pagination_render(carts) }}
        </div>
        <div class="col">
        <a class="btn btn-success float-right" role="button" href="{{ path('cart_new') }}">Création d'un nouveau panier</a>
        </div>
    </div>
    <table class="table table-striped table-dark text-center">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Quantité</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Montant total</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cart in carts %}
            <tr>
                <td scope="row">{{ cart.id }}</td>
                <td>{{ cart.quantity }}</td>
                <td>{{ cart.unitPrice }} €</td>
                <td>{{ cart.ammount }} €</td>
                <td>
                    <a class="btn btn-primary" role="button" href="{{ path('cart_show', {'id': cart.id}) }}">
                        <svg class="bi bi-eye" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                        <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                        </svg>
                    </a>
                    <a class="btn btn-secondary" role="button" href="{{ path('cart_edit', {'id': cart.id}) }}">
                        <svg class="bi bi-pen" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M5.707 13.707a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391L10.086 2.5a2 2 0 0 1 2.828 0l.586.586a2 2 0 0 1 0 2.828l-7.793 7.793zM3 11l7.793-7.793a1 1 0 0 1 1.414 0l.586.586a1 1 0 0 1 0 1.414L5 13l-3 1 1-3z"/>
                        <path fill-rule="evenodd" d="M9.854 2.56a.5.5 0 0 0-.708 0L5.854 5.855a.5.5 0 0 1-.708-.708L8.44 1.854a1.5 1.5 0 0 1 2.122 0l.293.292a.5.5 0 0 1-.707.708l-.293-.293z"/>
                        <path d="M13.293 1.207a1 1 0 0 1 1.414 0l.03.03a1 1 0 0 1 .03 1.383L13.5 4 12 2.5l1.293-1.293z"/>
                        </svg>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">Pas de panier trouvé !</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="py-1">
        {{ knp_pagination_render(carts) }}
    </div>
</div>    
{% endblock %}
