{% extends 'base.html.twig' %}

{% block title %}BierShop - Votre panier{% endblock %}

{% block body %}

   <main id="layoutSidenav_content">

        <div class="container-fluid">
        
            <ul class="breadcrumb mb-4">
                <li class="breadcrumb-item">Votre panier</li>
                {# <li class="breadcrumb-item active">Produits</li> #}
            </ul>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-beer"></i>
                    Votre panier
                </div>
                <div class="card-body">
                    <div class="table-responsive">

                        {# Début tableau #}
                        <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                            {# DEBUT THEAD #}
                            <thead>
                                <tr>
                                    <th scope="col">Ref</th>
                                    <th scope="col">Nom article</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Image</th>
                                    <th scope="col">Prix unitaire</th>
                                    <th scope="col">Quantité</th>
                                    <th scope="col">Montant</th>
                                    <th scope="col">Actions</th>
                                </tr>
                            </thead>
                            {# FIN THEAD #}

                            {# DEBUT TBODY #}
                            <tbody>

                                {% set total = 0 %}
                                {% for cart in app.session.get('cart') %}
                                    <tr>
                                        <th scope="row">{{ cart['product'].id }}</th>
                                        <td>{{ cart['product'].name }}</td>     
                                        <td> Bière
                                            {{ cart['product'].degree }} &deg;, 
                                            {{ volumeById(cart['product'].volume.id) }}cl, 
                                            {{ flavorById(cart['product'].flavor.id) }}, 
                                            {{ categoryById(cart['product'].category.id) }}
                                        </td>             
                                        <td>
                                        {% if cart['product'].image is not empty %}
                                            <img src="{{ asset('images/products/'~ cart['product'].image ) | imagine_filter('miniatures') }}" alt="{{ cart['product'].name }}">
                                        {% endif %}
                                        </td>
                                        <td>{{ cart['product'].price }}&euro;</td>   
                                        <td>{{ cart['quantity'] }}</td>   
                                        <td>{{ cart['product'].price * cart['quantity'] }}&euro;</td>
                                        <td>
                                            <a class="btn btn-danger" role="button" href="" title="Retirer le produit du panier">
                                                <svg class="bi bi-trash" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                                </svg>
                                            </a>

                                        </td>
                                    </tr>

                                    {% set total = total + (cart['product'].price * cart['quantity']) %}

                                {% else %}
                                    <tr>
                                        <td colspan="8">Pas de produit dans votre panier</td>
                                    </tr>
                                {% endfor %}
                                    <tr>
                                        <th scope="row"></th>
                                        <td colspan="4"></td>     
                                        <td> Total : </td>   
                                        <td>{{ total }}&euro;</td>
                                        <td>
                                        </td>
                                    </tr>

                                <a class="btn btn-success float-right" href="{{ path('home') }}">Continuer mes achats</a>

                            </tbody>
                            {# FIN TBODY #}
                        </table>

                        <a class="btn btn-success float-right" href="{{ path('home') }}">Continuer mes achats</a>


                    </div>
                </div>
            </div>
        </div>
    </main>

   
{% endblock %}
