{% extends 'base.html.twig' %}

{% block title %}BierShop - Accueil{% endblock %}

{% block stylesheets %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.0/nouislider.min.css">
{% endblock %}

{% block body %}
<div class="container">
    {% if categorie is defined %}
        <h1 class="mb-5">Nos bières <em>{{ categorie.name }}</em> </h1>
    {% elseif flavor is defined %}
        <h1 class="mb-5">Nos bières <em>{{ flavor.name }}</em> </h1>
    {% elseif volume is defined %}
        <h1 class="mb-5">Nos bières de <em>{{ volume.volume }}</em> </h1>
    {% else %}
        <h1>Nos produits en stock !</h1>
    {% endif %}  
    <div class="row">
        <aside class="col-md-3">
            <div class="card">
                <article class="filter-group">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="false" class="collapsed">
                            <i class="icon-control fas fa-caret-down float-right"></i>
                            <h6 class="title">Prix</h6>
                        </a>
                    </header>
                    <div class="filter-content collapse" id="collapse_1">
                        <div class="card-body">
                            {# Slider prix #} 
                            {% if categorie is defined %}
                            <div id="slider"></div>
                            <form class="form-row" method="get" action="{{ path('home_categorie', { slug: categorie.slug } | merge(app.request.query.all)) }}">
                            <div class="form-group col-md-6">
                                    <label>Min</label>
                                    <input class="form-control" id="minPrice" value="50€" type="string" name="minPrice">
                                </div>
                                <div class="form-group text-right col-md-6">
                                    <label>Max</label>
                                    <input class="form-control" id="maxPrice" value="150€" type="string" name="maxPrice">
                                </div>
                                <button class="btn btn-block bouton" type="submit">Filtrer</button>
                            </form> <!-- form-row.// -->
                            {% elseif flavor is defined %}
                            <div id="slider"></div>
                            <form class="form-row" method="get" action="{{ path('home_flavor', { slug: flavor.slug } | merge(app.request.query.all)) }}">
                            <div class="form-group col-md-6">
                                    <label>Min</label>
                                    <input class="form-control" id="minPrice" value="50€" type="string" name="minPrice">
                                </div>
                                <div class="form-group text-right col-md-6">
                                    <label>Max</label>
                                    <input class="form-control" id="maxPrice" value="150€" type="string" name="maxPrice">
                                </div>
                                <button class="btn btn-block bouton" type="submit">Filtrer</button>
                            </form> <!-- form-row.// -->
                            {% endif %}                                            
                        </div><!-- card-body.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <article class="filter-group">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_2" aria-expanded="false" class="collapsed">
                            <i class="icon-control fas fa-caret-down float-right"></i>
                            <h6 class="title">Degrés</h6>
                        </a>
                    </header>
                    <div class="filter-content in collapse" id="collapse_2">
                        <div class="card-body">
                        <ul class="list-menu" style="list-style-type:none">
                        {% if categorie is defined %}
                            <li><a href="{{ path('home_categorie', { slug: categorie.slug, degree: 1  } + app.request.query.all) }}">Moins de 5°</a></li>
                            <li><a href="{{ path('home_categorie', { slug: categorie.slug, degree: 2  } + app.request.query.all) }}">5° à 8°</a></li>
                            <li><a href="{{ path('home_categorie', { slug: categorie.slug, degree: 3  } + app.request.query.all) }}">8° à 10°</a></li>
                            <li><a href="{{ path('home_categorie', { slug: categorie.slug, degree: 4  } + app.request.query.all) }}">Plus de 10°</a></li>
                        {% elseif flavor is defined %} 
                            <li><a href="{{ path('home_flavor', { slug: flavor.slug, degree: 1  } + app.request.query.all) }}">Moins de 5°</a></li>
                            <li><a href="{{ path('home_flavor', { slug: flavor.slug, degree: 2  } + app.request.query.all) }}">5° à 8°</a></li>
                            <li><a href="{{ path('home_flavor', { slug: flavor.slug, degree: 3  } + app.request.query.all) }}">8° à 10°</a></li>
                            <li><a href="{{ path('home_flavor', { slug: flavor.slug, degree: 4  } + app.request.query.all) }}">Plus de 10°</a></li>
                        {% endif %}   
                            </ul>
                        </div><!-- card-body.// -->
                    </div>
                </article> <!-- filter-group .// -->
                <article class="filter-group">
                    <header class="card-header">
                        <a href="#" data-toggle="collapse" data-target="#collapse_3" aria-expanded="false" class="collapsed">
                            <i class="icon-control fas fa-caret-down float-right"></i>
                            <h6 class="title">Contenance</h6>
                        </a>
                    </header>
                    <div class="filter-content in collapse" id="collapse_3">
                        <div class="card-body">
                             <ul class="list-menu" style="list-style-type:none">
                            {% if categorie is defined %}
                            <li><a href="{{ path('home_categorie', { slug: categorie.slug, volume: 1 } + app.request.query.all) }}">Moins de 33cl</a></li>
                            <li><a href="{{ path('home_categorie', { slug: categorie.slug, volume: 2 } + app.request.query.all) }}">33cl à 50cl</a></li>
                            <li><a href="{{ path('home_categorie', { slug: categorie.slug, volume: 3 } + app.request.query.all) }}">51cl à 75cl</a></li>
                            <li><a href="{{ path('home_categorie', { slug: categorie.slug, volume: 4 } + app.request.query.all) }}">Plus de 75cl</a></li>
                            {% elseif flavor is defined %}
                            <li><a href="{{ path('home_flavor', { slug: flavor.slug, volume: 1 } + app.request.query.all) }}">Moins de 33cl</a></li>
                            <li><a href="{{ path('home_flavor', { slug: flavor.slug, volume: 2 } + app.request.query.all) }}">33cl à 50cl</a></li>
                            <li><a href="{{ path('home_flavor', { slug: flavor.slug, volume: 3 } + app.request.query.all) }}">51cl à 75cl</a></li>
                            <li><a href="{{ path('home_flavor', { slug: flavor.slug, volume: 4 } + app.request.query.all) }}">Plus de 75cl</a></li>
                            {% endif %} 
                            </ul>
                        </div><!-- card-body.// -->
                    </div>
                </article> <!-- filter-group .// -->
            </div>
        </aside>
        <section class="col-md-9">     

                <div class="row py-0">
                    {{ knp_pagination_render(products) }}
                </div>  

                <div class="row">
                    {% set col = 3 %}

                    {% for product in products %} 
                        {{ include('home/_listProducts.html.twig') }}
                    {% endfor %}
                </div>

                <div class="row py-0">
                    {{ knp_pagination_render(products) }}
                </div>    
        </section>
    </div>    
</div>    
{% endblock %}
{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.0/nouislider.min.js"></script>
    <script src="{{ asset('js/sliderfiltre.js') }}"></script>
{% endblock %}