{% extends 'base.html.twig' %}

{% block title %}BierShop - Accueil{% endblock %}

{% block body %}
<main>
    <!-- Diaporama -->
    <div class="slider">
        <img src="{{asset('Css/images/Coucher_de_soleil.jpg')}}" alt="Bieres au coucher de soleil">
        <!--Flêches directionnelles-->
        <i class="las la-chevron-circle-left"></i>
        <i class="las la-chevron-circle-right"></i>
        <!-- Ronds -->
        <div id="circle" class="circle">
            <i class="las la-dot-circle"></i>
            <i class="las la-circle"></i>
        </div>
    </div> <!-- Fin Diaporama -->

    <!--Services-->
    <div class="services">
        <img src="{{asset('Css/images/Services.png')}}" alt="Services">
    </div> <!--Fin Services-->

    <!--Section En ce moment-->
    <section class="newProducts">
        <h1>En ce moment ! </h1>
        <h2>Nouveauté</h2>
            <div>
                <img src="{{asset('Css/images/Nouveau_biere_brooklyn.jpg')}}" alt="Nouveauté bière brooklyn">
                <img src="{{asset('Css/images/Slider_Grimbergen.jpg')}}" alt="Pub Grimbergen">
                <div><!--Sélection nouveauté produits-->
                </div>
            </div>
    </section>
    <!--Fin Section En ce moment-->

    <!--Section Les meilleures ventes-->
    <section class="bestsellers">
        <h1>Les meilleures ventes !</h1>
        <div><!--Sélection meilleures ventes produits-->
        </div>
    </section>
    <!--Fin Section Les meilleures ventes-->
</main>
{% endblock %}

{% block javascripts %}
    <script>
        let images = ['{{ asset('Css/images/Coucher_de_soleil.jpg') }}', '{{ asset('Css/images/Table_presentation_biere.jpg') }}', '{{ asset('Css/images/Sante_table.jpg') }}'];
    </script>
    <script src="{{ asset('js/carousel.js') }}"></script>
{% endblock %}
