{% extends 'base.html.twig' %}

{% block title %}Cold Beer - Accueil
{% endblock %}

{% block body %}

	<!-- Diaporama -->
	<div class="slider">
		{% set images = [
			asset('images/miscellaneous/Coucher_de_soleil.jpg'),
			asset('images/miscellaneous/Table_presentation_biere.jpg'),
			asset('images/miscellaneous/Sante_table.jpg')
		] %}
		<img
		src="{{asset('images/miscellaneous/Coucher_de_soleil.jpg')}}" alt="Bieres au coucher de soleil" data-images="{{ images|json_encode }}">
		<!--Flêches directionnelles-->
		<i class="las la-chevron-circle-left"></i>
		<i class="las la-chevron-circle-right"></i>
		<!-- Ronds -->
		<div id="circle" class="circle">
			<i class="las la-dot-circle"></i>
			<i class="las la-circle"></i>
		</div>
	</div>
	<!-- Fin Diaporama -->

	<main
		class="container-fluid">

		<!--Services-->
		<div class="services">
			<img class="img-fluid" src="{{asset('images/miscellaneous/Services.png') }}" alt="Services">
		</div>
		<!--Fin Services-->

		<!--Section En ce moment-->
		<section class="newProducts">
			<div class="row">
				<h1>En ce moment !</h1>
			</div>
			<div class="titleBlue">
				<h2>Nouveauté</h2>
			</div>
			<div class="row">
				<div class="col-6">
					<a href="https://brooklynbrewery.com/" title="lien vers brooklynbrewery.com"><img class="w-100 h-100 " style="object-fit: cover" src="{{asset('images/miscellaneous/Nouveau_biere_brooklyn.jpg')| imagine_filter('miniatures') }}" alt="Nouveauté bière brooklyn"></a>
				</div>
				<div class="col-6">
					<div class="row justify-content-center">
						<a class="w-100" href="https://www.grimbergenbeer.com/fr-ch/" title="lien vers grimbergen.com"><img class="img-fluid w-100" style="object-fit: cover; max-height: 175px" src="{{asset('images/miscellaneous/Slider_Grimbergen.jpg')| imagine_filter('miniatures') }}" alt="Pub Grimbergen"></a>
					</div>
					<div
						class="row">
						<!--Sélection nouveauté produits-->
						{% for product in productsNew %}
							{% set col = 4 %}
							<div class="card col-{{ col }} p-0 mb-0">
								{% if product.image is not empty %}
									<a class="card-img-top" href="{{ path('home_show', { slug: product.slug }) }}" title="Voir le produit {{ product.name }}"><img class="d-block w-100 p-3" src="{{ asset('images/products/'~ product.image ) | imagine_filter('miniatures') }}" alt="{{ product.name }}"></a>
								{% endif %}
								<div class="card-body mx-0 p-2">
									<p class="card-title text-center" style="font-size:1.5em">{{ product.name }}</p>
									<p class="m-0 text-center" style="font-size:2em; font-weight: bold; color: #2FB5F4;">{{ product.price }}
										&euro;
									</p>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
		<!--Fin Section En ce moment-->

		<!--Section Les meilleures ventes-->
		<section class="bestsellers">
			<div class="row mt-3">
				<h1>Les meilleures ventes !</h1>
			</div>
			<div
				class="row">
				<!--Sélection meilleures ventes produits-->
				{% set col = 2 %}
				{% for product in productsBestSales %}
					<div class="card col-{{ col }} p-0 mb-1">
						{% if product.image is not empty %}
							<a class="card-img-top" href="{{ path('home_show', { slug: product.slug }) }}" title="Voir le produit {{ product.name }}"><img class="d-block w-100 p-3" src="{{ asset('images/products/'~ product.image ) | imagine_filter('miniatures') }}" alt="{{ product.name }}"></a>
						{% endif %}
						<div class="card-body mx-0 p-2">
							<p class="card-title text-center" style="font-size:1.5em">{{ product.name }}</p>
							<p class="m-0 text-center" style="font-size:2em; font-weight: bold; color: #2FB5F4;">{{ product.price }}
								&euro;
							</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
		<!--Fin Section Les meilleures ventes-->

	</main>
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('carousel') }}
{% endblock %}
