{% extends 'base.html.twig' %}

{% block title %}BierShop - Accueil{% endblock %}

{% block body %}

<main class="container-flex">

    <!-- Diaporama -->
    <div class="slider">
        <img src="{{asset('Css/images/Coucher_de_soleil.jpg')}}" alt="Bieres au coucher de soleil">
        <!--Flêches directionnelles-->
        <i class="las la-chevron-circle-left"></i>
        <i class="las la-chevron-circle-right"></i>
        <!-- Ronds -->
        <div id="circle" class="circle">
            <i class="las la-dot-circle"></i>
            <i class="las la-circle"></i>
        </div>
    </div> <!-- Fin Diaporama -->


    <!--Services-->
    <div class="services">
        <img class="img-fluid" src="{{asset('Css/images/Services.png')}}" alt="Services">
    </div> <!--Fin Services-->

  

    <!--Section En ce moment-->
    <section class="newProducts">
        <div class="row"><h1>En ce moment !</h1></div>
        <div class="row"><h2 class="mb-0 px-5">Nouveauté</h2></div>
        <div class="row ligneBleu mb-2"></div>
            <div class="row">
                <div class="col-6 p-0">
                    <img class="img-fluid" src="{{asset('Css/images/Nouveau_biere_brooklyn.jpg')}}" alt="Nouveauté bière brooklyn">
                </div>
                <div class="col-6">
                    <div class="row justify-content-center"><img class="img-fluid w-100" style="object-fit: cover; max-height: 174px" src="{{asset('Css/images/Slider_Grimbergen.jpg')}}" alt="Pub Grimbergen"></div>
                    <div class="row">
                    <!--Sélection nouveauté produits-->
                    {% for product in productsNew %} 
                        {% set col = 4 %}
                        {{ include('home/_listProducts.html.twig') }}
                    {% endfor %}
                    </div>
                </div>
            </div>
    </section>
    <!--Fin Section En ce moment-->



    <!--Section Les meilleures ventes-->
    <section class="bestsellers">
        <div class="row"><h1>Les meilleures ventes !</h1></div>
        <div class="row"><!--Sélection meilleures ventes produits-->
            {% set col = 2 %}
            {% for product in productsBestSales %} 
                {{ include('home/_listProducts.html.twig') }}
            {% endfor %}
        </div>
    </section>
    <!--Fin Section Les meilleures ventes-->
      
</main>
{% endblock %}

{% block javascripts %}
    <script>
        let images = ['{{ asset('Css/images/Coucher_de_soleil.jpg') }}', '{{ asset('Css/images/Table_presentation_biere.jpg') }}', '{{ asset('Css/images/Sante_table.jpg') }}'];
    </script>
    <script src="{{ asset('js/carousel.js') }}"></script>
{% endblock %}
