{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
    
    <div class="container">
        <div class="row">
            <div class="col-6">
                {% if product.image is not empty %}
                <img class="w-100 p-3" src="{{ asset('images/products/'~ product.image ) }}" alt="{{ product.name }}">
                {% endif %}
            </div>

            <div class="col-6">
                <div class="rating">
                    <div class="rating__star"></div>
                    <div class="rating__star"></div>
                    <div class="rating__star"></div>
                    <div class="rating__star"></div>
                    <div class="rating__star"></div>
                    <div class="rating__label">
                    10 notes clients</div>
                </div>
                <h1>{{ product.name }}</h1>

                    {% if product.quantity > 10 %}
                        <div class="alert alert-success">En stock !</div>
                    {% elseif product.quantity > 0 %}
                        <div class="alert alert-success">Plus que {{ product.quantity }} en stock !</div>
                    {% else %}
                        <div class="alert alert-warning">Produit indisponible pour le moment.</div>
                    {% endif %}   
                
                <div>Couleur : <span class="bloc">{{ product.category.name }}</span></div>
                <div>Saveur : <span class="bloc">{{ product.flavor.name }}</span></div>
                <div>Degré : <span class="bloc">{{ product.degree }}</span></div>
                <div>Contenance : <span class="bloc">{{ product.volume.volume }}</span></div>
                <div class ="row blocPrix">
                    <p class="col-6">Prix unitaire {{ product.price }} &euro;</p> 
                    <div class="col-6">
                        <button class="btn my-2 my-sm-0 bouton" type="submit">Ajouter au panier</button>
                    </div>
                </div>
                <div>Livraison : Livraison possible dans toute la France.</div>
                <div>
                    Paiement : <img class="w-50 p-3" src="{{ asset('Css/images/logo-stripe-payment.png')}}" alt="Logo Stripe">
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>Description</h2>
            <p>{{ product.description }}</p>
            {# Image secondaire 
            {% if product.image is not empty %}
                <img class="w-100 p-3" src="{{ asset('images/products/'~ product.image ) }}" alt="{{ product.name }}">
            {% endif %}#}
    </div>

    <div class="container">
        <h2>Commentaires</h2>
        {# {% for comment in post.comments|sort((a, b) => a.createdAt > b.createdAt) %} #}
            {# <div>
                <small>Commentaire posté par {{ comment.user.firstname }} {{ comment.user.lastname }} le {{ comment.createdAt | date('d.m.Y') }}</small>
                <p>{{ comment.comment }}</p> 
            </div>
            <hr> #}
        {# {% endfor %} #}

        <h3>Postez votre commentaire</h3>
        {# Si l'utilisateur est connecté, on lui offre la possibilité de commenter l'article #}
        {# {% if app.user %} #}
        {# {{ app.user.firstname }} #}
            <p>Postez votre commentaire </p>
            {# {{ form(formComment) }} #}
        {# {% else %} #}
            {# Sinon, on l'invite à se connecter ou à s'incrire #}
            {# <p><a href="{{ path('app_login') }}" title="Se connecter">Connectez-vous</a> ou <a href="{{ path('app_register') }}" title="S'inscrire">inscrivez-vous</a> pour poster un commentaire.</p> #}
        {# {% endif %} #}

    </div>

{% endblock %}