{{ form_start(form) }}
    {# {{ form_widget(form) }} #}

        <div class="row">
            <div class="col-6">
                {# Nom du produit de vente #}
                {{ form_row(form.name)}}
                {# Description de l'article #}
                {{ form_row(form.description)}}

                {# Catégorie de l'article #}
                {{ form_row(form.category)}}
                <a class="btn btn-primary mb-5" href="{{ path('categories_index') }}">Ajouter/modifier une catégorie ?</a>

                {# Saveur associée à l'article #}
                {{ form_row(form.flavor)}}
                <a class="btn btn-primary mb-5" href="{{ path('flavors_index') }}">Ajouter/modifier une saveur ?</a>

                {# Volume du produit de vente #}
                {{ form_row(form.volume)}}
                <a class="btn btn-primary mb-5" href="{{ path('volumes_index') }}">Ajouter/modifier un volume ?</a>

            </div>

            <div class="col-6">
                {# Degré d'alcool du produit de vente #}
                {{ form_row(form.degree)}}

                {# Prix unitaire du produit de vente #}
                {{ form_row(form.price)}}

                {# Quantité de produit en stock #}
                {{ form_row(form.quantity)}}
                
                {# Image de l'article #}
                {{ form_row(form.imageFile)}}


            </div>
        </div>


    <button class="btn btn-success">{{ button_label|default('Valider') }}</button>
{{ form_end(form) }}
