{% extends 'base-admin.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}


<div class="p-5">
    <h1>Liste des produits</h1>

    <a class="btn btn-success float-right" href="{{ path('products_new') }}">Ajouter un nouveau produit</a>

    <table class="table text-center">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom du produit</th>
                <th scope="col">Image d'illustration</th>
                <th scope="col">Degré d'alcool</th>
                <th scope="col">Prix unitaire</th>
                <th scope="col">Quantité en stock</th>
                <th scope="col">Produit créé le</th>
                <th scope="col">Produit mis à jour le</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.name }}</td>                
                <td>
                {% if product.image is not empty %}
                    <img src="{{ asset('images/products/'~ product.image ) | imagine_filter('miniatures') }}" alt="{{ product.name }}">
                {% endif %}
                </td>
                <td>{{ product.degree }}&deg;</td>
                <td>{{ product.price }}&euro; </td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.createdAt | date('d.m.Y') }}</td>
                <td>{{ product.updatedAt | date('d.m.Y') }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('products_show', {'id': product.id}) }}">Détail</a>
                    <a class="btn btn-warning" href="{{ path('products_edit', {'id': product.id}) }}">Modifier</a>

                    {{ include('products/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de produit en base de données.</td>
            </tr>
        {% endfor %}

            <div class="py-5">
            {{ knp_pagination_render(products) }}
            </div>

        </tbody>

    </table>
    
    <a class="btn btn-success float-right" href="{{ path('products_new') }}">Ajouter un nouveau produit</a>

    <div class="py-5">
    {{ knp_pagination_render(products) }}
    </div>

</div>

{% endblock %}
