{% extends 'base-admin.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}


 <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="{{ path('dashboard') }}">Dashboard Admin</a>
        <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
        <!-- Navbar Recherche-->
        <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Rechercher" aria-describedby="basic-addon2" />
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ml-auto ml-md-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="{{ path('log') }}">Déconnexion</a>
                </div>
            </li>
        </ul>
    </nav>
    <!-- Début aside -->
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Compte utilisateur</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseutilisateurs" aria-expanded="false" aria-controls="collapseUtilisateurs">
                            <div class="sb-nav-link-icon"><i class="fas fa-user-cog"></i></div>
                            Comptes utilisateurs
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseutilisateurs" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{{ path('users_index') }}">Liste des comptes</a>
                                <a class="nav-link" href="#">Création d'un compte</a>
                            </nav>
                        </div>
                        <div class="sb-sidenav-menu-heading">Interface du site</div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProduits" aria-expanded="false" aria-controls="collapseProduits">
                            <div class="sb-nav-link-icon"><i class="fas fa-beer"></i></div>
                            Produits
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseProduits" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{{ path('products_index') }}">Liste des produits</a>
                                <a class="nav-link" href="{{ path('products_new') }}">Création d'un produit</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCommandes" aria-expanded="false" aria-controls="collapseCommandes">
                            <div class="sb-nav-link-icon"><i class="fas fa-dolly"></i></div>
                            Commandes
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>           
                        <div class="collapse" id="collapseCommandes" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{{ path('orders_index') }}">Liste des commandes</a>
                                <a class="nav-link" href="{{ path('orders_new') }}">Création d'une commande</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCategories" aria-expanded="false" aria-controls="collapseCategories">
                            <div class="sb-nav-link-icon"><i class="fas fa-wine-bottle"></i></div>
                            Catégories
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseCategories" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{{ path('categories_index') }}">Liste des catégories</a>
                                <a class="nav-link" href="{{ path('categories_new') }}">Création d'une nouvelle catégories</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseVolumes" aria-expanded="false" aria-controls="collapseVolumes">
                            <div class="sb-nav-link-icon"><i class="fas fa-thermometer-full"></i></div>
                            Volumes
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>           
                        <div class="collapse" id="collapseVolumes" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{{ path('volumes_index') }}">Liste des volumes</a>
                                <a class="nav-link" href="{{ path('volumes_new') }}">Création d'un nouveau volume</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePaniers" aria-expanded="false" aria-controls="collapsePaniers">
                            <div class="sb-nav-link-icon"><i class="fas fa-cart-plus"></i></div>
                            Paniers
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>           
                        <div class="collapse" id="collapsePaniers" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{{ path('cart_index') }}">Liste des Paniers</a>
                                <a class="nav-link" href="{{ path('cart_new') }}">Création d'un nouveau panier</a>
                            </nav>
                        </div>
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSaveurs" aria-expanded="false" aria-controls="collapseVolumes">
                            <div class="sb-nav-link-icon"><i class="fas fa-cookie-bite"></i></div>
                            Saveurs
                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>           
                        <div class="collapse" id="collapseSaveurs" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                <a class="nav-link" href="{{ path('flavors_index') }}">Liste des saveurs</a>
                                <a class="nav-link" href="{{ path('flavors_new') }}">Création d'un nouveau saveur</a>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Connecté en tant que:</div>
                    User Admin
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <!-- Début du main -->
            <main>
                <div class="container-fluid">
                    <h1 class="mt-4">Produits</h1>
                    <ul class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Dashboard</a></li>
                        <li class="breadcrumb-item active">Produits</li>
                    </ul>
                    <div class="card mb-4">
                        <div class="card-header">
                            <i class="fas fa-beer"></i>
                            Tableau des produits
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nom du produit</th>
                                            <th scope="col">Image d'illustration</th>
                                            <th scope="col">Degré d'alcool</th>
                                            <th scope="col">Prix unitaire</th>
                                            <th scope="col">Quantité en stock</th>
                                            <th scope="col">Produit créé le</th>
                                            <th scope="col">Produit mis à jour le</th>
                                            <th scope="col">actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for product in products %}
                                        <tr>
                                            <th scope="row">{{ product.id }}</th>
                                            <td>{{ product.name }}</td>                
                                            <td>
                                            {% if product.image is not empty %}
                                                <img src="{{ asset('images/products/'~ product.image ) | imagine_filter('miniatures') }}" alt="{{ product.name }}">
                                            {% endif %}
                                            </td>
                                            <td>{{ product.degree }}&deg;</td>
                                            <td>{{ product.price }}&euro; </td>
                                            <td>{{ product.quantity }}</td>
                                            <td>{{ product.createdAt | date('d.m.Y') }}</td>
                                            <td>{{ product.updatedAt | date('d.m.Y') }}</td>
                                            <td>
                                                <a class="btn btn-primary" href="{{ path('products_show', {'id': product.id}) }}">Détail</a>
                                                <a class="btn btn-warning" href="{{ path('products_edit', {'id': product.id}) }}">Modifier</a>

                                                {{ include('products/_delete_form.html.twig') }}
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="8">Pas de produit en base de données.</td>
                                        </tr>
                                    {% endfor %}

                                        <div class="py-1">
                                        {{ knp_pagination_render(products) }}
                                        </div>

                                    </tbody>
                                </table>

                                <a class="btn btn-success float-right" href="{{ path('products_new') }}">Ajouter un nouveau produit</a>

                                <div class="py-1">
                                {{ knp_pagination_render(products) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
