{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
    <h1>Liste des produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nom du produit</th>
                <th scope="col">Image</th>
                <th scope="col">Degré d'alcool</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité en stock</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.name }}</td>                
                <td>
                {% if product.image is not empty %}
                    <img class="d-block w-50 p-3" src="{{ asset('images/products/'~ product.image ) }}" alt="{{ product.name }}">
                {% endif %}
                </td>
                <td>{{ product.degree }}&deg;</td>
                <td>{{ product.price }}&euro; </td>
                <td>{{ product.quantity }}</td>

                <td>
                    <a href="{{ path('products_show', {'id': product.id}) }}">Détail</a>
                    <a href="{{ path('products_edit', {'id': product.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas de produit en base de données.</td>
            </tr>
        {% endfor %}

            <div class="py-5">
            {{ knp_pagination_render(products) }}
            </div>

        </tbody>

    </table>

    <div class="py-5">
    {{ knp_pagination_render(products) }}
    </div>

    <a href="{{ path('products_new') }}">Ajouter un nouveau produit</a>
{% endblock %}
