<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BierShop - Commande ref_{{ order.ref }}</title>
    <style type="text/css">
        {{ fileGetContents( '../public/css/styles.min.css' )  }}
        {{ fileGetContents( '../public/css/stylesPDF.min.css' ) }}
    </style>
</head>

<body>
    <main>
        <div>
            <h1>BierShop inc. - Facture client </h1>
            <h2>Commande ref_{{ order.ref }}</h2>
            <img src="{{ base64 }}">
        </div>
        

        <h2>Informations client</h2>
        {# Début tableau #}
        <table>
            {# DEBUT THEAD #}
            <thead>
                <tr>   
                    <th scope="col">Référence commande</th> 
                    <th scope="col">Destinataire</th> 
                    <th scope="col">Point de livraison</th>
                    <th scope="col">Date de la commande</th>
                </tr>
            </thead>
            {# FIN THEAD #}


            {# DEBUT TBODY #}
            <tbody>
                <tr>   
                    <td>ref_{{ order.ref }}</td>
                    <td>{{ app.user.firstname }} {{ app.user.lastname }}</td> 
                    <td>{{ order.deliveryPoint }}</td> 
                    <td>{{ order.createdAt | date('d.m.Y')  }}</td>
                </tr>
            </tbody>
            {# FIN TBODY #}
        </table>

        <h2>Articles commandés</h2>
        {# Début tableau #}
        <table>
            {# DEBUT THEAD #}
            <thead>
                <tr>
                    <th scope="col">Ref produit</th>
                    <th scope="col">Nom du produit</th>
                    <th scope="col">Caractéristiques</th>
                    <th scope="col">Prix unitaire</th>
                    <th scope="col">Quantité</th>
                    <th scope="col">Montant</th>
                </tr>
            </thead>
            {# FIN THEAD #}

            {# DEBUT TBODY #}
            <tbody>

                {% for cart in order.carts %}
                    <tr>
                        <th scope="row">Ref_{{ cart.product.id }}</th>
                        <td>{{ cart.product.name }}</td>    
                        <td>
                            Bière {{ cart.product.category.name }},
                            {{ cart.product.flavor.name }},
                            {{ cart.product.degree }}&deg;,
                            {{ cart.product.volume.volume }}cl
                        </td>  
                        <td>{{ cart.product.price }} &euro;</td>
                        <td>{{ cart.quantity }}</td>
                        <td>{{ cart.ammount }} &euro;</td>
                    </tr>

                {% endfor %}
                    <tr>
                        <th colspan="4"></th>
                        <td>
                            <span>Montant total à régler : </span>
                        </td>    
                        <td><span>{{ order.amount }} &euro;</span></td>
                    </tr>

            </tbody>
            {# FIN TBODY #}
        </table>

    </main>
</body>

</html>


