{% extends 'base.html.twig' %}

{% block title %}BierShop - Commande ref_{{ order.ref }}{% endblock %}

{% block body %}

    <main id="layoutSidenav_content">

        <div class="container-fluid">
        
            <a class="btn float-right bouton mx-2" title="Continuer mes achats" href="{{ path('home') }}">Continuer mes achats</a>          

            <a class="btn float-right bouton mx-2" title="Retour à l'historique des commandes" href="{{ path('customer_orders_record') }}">Retour à l'historique des commandes</a>      

            <a class="btn float-right bouton mx-2" title="Voir la facture" href="{{ path('customer_bill', {'id': order.id }) }}">Voir la facture</a>   

            <h2 class="m-5">Historique de vos commandes</h2>


            <div class="row">

                <div class="card my-4 col-8">
                    <div class="card-header">
                        <i class="fas fa-beer"></i>
                        Commande ref_{{ order.ref }}
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">

                            {# Début tableau #}
                            <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                                {# DEBUT THEAD #}
                                <thead>
                                    <tr>
                                        <th scope="col">Ref produit</th>
                                        <th scope="col">Nom du produit</th>
                                        <th scope="col">Caractéristiques</th>
                                        <th scope="col">Prix unitaire</th>
                                        <th scope="col">Quantité</th>
                                        <th scope="col">Montant</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                {# FIN THEAD #}

                                {# DEBUT TBODY #}
                                <tbody>

                                    {% for cart in order.carts %}
                                        <tr>
                                            <th scope="row">Ref_{{ cart.product.id }}</th>
                                            <td>{{ cart.product.name }}</td>    
                                            <td>
                                                Bière {{ cart.product.category.name }},
                                                {{ cart.product.flavor.name }},
                                                {{ cart.product.degree }}&deg;,
                                                {{ cart.product.volume.volume }}cl
                                            </td>  
                                            <td>{{ cart.product.price }} &euro;</td>
                                            <td>{{ cart.quantity }}</td>
                                            <td>{{ cart.ammount }} &euro;</td>
                                            <td>
                                                <a class="btn btn-primary" role="button" href="{{ path('home_show', {'slug': cart.product.slug }) }}" title="Aller à la page de l'article">
                                                    <svg class="bi bi-eye" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                                                    <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
                                                    </svg>
                                                </a>
                                            
                                            </td>
                                        </tr>

                                    {% endfor %}

                                    <tr>
                                        <th colspan="4"></th>
                                        <td class="font-weight-bold">Total : </td>    
                                        <td class="font-weight-bold">{{ order.amount }} &euro;</td>
                                    </tr>

                                </tbody>
                                {# FIN TBODY #}
                            </table>




                        </div>




                    </div>
                </div>     
            
                <div class="card my-4 col-4">
                    <div class="card-header">
                        <i class="fas fa-beer"></i>
                        Commande ref_{{ order.ref }}
                    </div>
                    <div class="card-body">

                        <div class="table-responsive">

                            {# Début tableau #}
                            <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                                {# DEBUT TBODY #}
                                <tbody>
                                    <tr>   
                                        <th scope="col">Destinataire</th>
                                        <td>{{ app.user.firstname }} {{ app.user.lastname }}</td> 
                                    </tr>
                                    <tr>   
                                        <th scope="col">Point de livraison</th>
                                        <td>{{ order.deliveryPoint }}</td> 
                                    </tr>
                                    <tr>
                                        <th scope="col">Paiement</th>
                                        <td>{{ order.payment }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Montant de la commande</th>
                                        <td>{{ order.amount }} &euro;</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Date de la commande</th>
                                        <td>{{ order.createdAt | date('d.m.Y')  }}</td>                                    
                                    </tr>
                                    <tr>
                                        <th scope="col">Status</th>
                                        <td>{{ order.status }}</td>
                                    </tr>
                                </tbody>
                                {# FIN TBODY #}
                            </table>
                        </div>




                    </div>
                </div>                 
            
            
            
            </div>

   

        </div>
    </main>

   
{% endblock %}



