{% extends 'base-admin.html.twig' %}

{% block title %}Modifier la volume #{{ volume.id }}{% endblock %}

{% block body %}

<div class="p-5">
    <a class="btn btn-primary float-right" href="{{ path('volumes_index') }}">Retour à la lite des volumes</a>

    <h1>Modifier la volume #{{ volume.id }}</h1>

    {{ include('volumes/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('volumes/_delete_form.html.twig') }}

</div>


{% endblock %}
