{% extends 'base-admin.html.twig' %}

{% block title %}Liste des volumes de boisson en bdd{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    
<div class="p-5">

    <h1>Liste des volumes de boisson en bdd</h1>
    
    <a class="btn btn-success float-right" href="{{ path('volumes_new') }}">Ajouter un volume</a>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Volume</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for volume in volumes %}
            <tr>
                <td>{{ volume.id }}</td>
                <td>{{ volume.volume }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('volumes_edit', {'id': volume.id}) }}">Modifier</a>
                    {{ include('volumes/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun volume en bdd</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success float-right" href="{{ path('volumes_new') }}">Ajouter un volume</a>


</div>


{% endblock %}
