{% extends 'base-admin.html.twig' %}

{% block title %}Modifier la catégorie #{{ category.id }}{% endblock %}

{% block body %}

<div class="p-5">
    <a class="btn btn-primary float-right" href="{{ path('categories_index') }}">Retour à la lite des catégories</a>

    <h1>Modifier la catégorie #{{ category.id }}</h1>

    {{ include('categories/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('categories/_delete_form.html.twig') }}

</div>


{% endblock %}
