{% extends 'base-admin.html.twig' %}

{% block title %}Modifier la saveur #{{ flavor.id }} {% endblock %}

{% block body %}

<div class="p-5">
    <a class="btn btn-primary float-right" href="{{ path('flavors_index') }}">Retour à la lite des saveurs</a>
    <h1>Modifier la saveur #{{ flavor.id }}</h1>

    {{ include('flavors/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('flavors/_delete_form.html.twig') }}

</div>

{% endblock %}
