{% extends 'base-admin.html.twig' %}

{% block title %}Liste des saveurs{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}

<div class="p-5">
    <h1>Liste des saveurs</h1>

    <a class="btn btn-success float-right" href="{{ path('flavors_new') }}">Ajouter</a>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Saveurs</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for flavor in flavors %}
            <tr>
                <td>{{ flavor.id }}</td>
                <td>{{ flavor.name }}</td>
                <td>
                    <a class="btn btn-warning" href="{{ path('flavors_edit', {'id': flavor.id}) }}">Modifier</a>
                    {{ include('flavors/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune saveur enregistrée en bdd</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success float-right" href="{{ path('flavors_new') }}">Ajouter</a>

</div>


{% endblock %}
