{% extends 'base-admin.html.twig' %}

{% block title %}Edition de commande{% endblock %}

{% block body %}

    <!-- Début du main -->
    <main id="layoutSidenav_content">
        <div class="container-fluid">

            <ul class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">Dashboard</a></li>
                <li class="breadcrumb-item active">Commandes</li>
            </ul>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-dolly mr-1"></i>
                    Modification de la commande
                </div>
                <div class="card-body">

                    {# {{ form_start(formEditOrder, { attr: { 'novalidate': 'novalidate' } }) }}
                    <div class="row">
                            <div class="col-8">
                            
                                {# Référence commande #}
                                {# {{ form_row(formEditOrder.ref) }} #}

                                {# Date de création de commande #}
                                {# {{ form_row(formEditOrder.created_at) }} #}

                            {# </div>
                            <div class="col-4"> #}

                                {# Status de la commande #}
                                {# {{ form_row(formEditOrder.status) }} #}

                                {# Total de la commande #}
                                {# {{ form_row(formEditOrder.amount) }} #}

                                {# Adresse de livraison de la commande #}
                                {# {{ form_row(formEditOrder.delivery_point) }} #}

                                {# Moyens de paiement de la commande #}
                                {# {{ form_row(formEditOrder.payment) }} #}

                                {# Bouton d'édition de commande' #}
                                {# {{ form_row(formEditPost.editer) }} #}

                            {# </div>
                        </div> #}
                    {{ include('orders/_form.html.twig', {'button_label': 'Valider'}) }}

                    <a class="btn btn-primary" role="button" href="{{ path('orders_index') }}" title="Retour liste des commandes">Retour à la liste</a>
                    {# {{ form_end(formEditOrder) }} #}

                </div>    
            </div>
        </div>
    </main>
</div>        

{% endblock %}
