{% extends 'base-admin.html.twig' %}

{% block title %}Commande n°{{ order.ref }}{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Commande n°{{ order.ref }}</h1>

    <table class="table table-striped table-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>Ref</th>
                <td>{{ order.ref }}</td>
            </tr>
            <tr>
                <th>Créé le</th>
                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ order.status }}</td>
            </tr>
            <tr>
                <th>Total</th>
                <td>{{ order.amount }}</td>
            </tr>
            <tr>
                <th>Adresse de livraison</th>
                <td>{{ order.deliveryPoint }}</td>
            </tr>
            <tr>
                <th>Moyens de paiement</th>
                <td>{{ order.payment }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" role="button" href="{{ path('orders_index') }}">Retour à la liste</a>

    <a class="btn btn-secondary" role="button" href="{{ path('orders_edit', {'id': order.id}) }}">Edition</a>
</div>
{% endblock %}
